/.project
/.texlipse
/Abstract.synctex.gz
/asymptote.sty
/tmp/
/Abstract-1_.out
/Abstract-1_.pbsdat
/Abstract-1_0.pdf
/Abstract-1.asy
/Abstract-1.pre
/Abstract-1.tex
/Abstract-1+0_0.pdf
/Abstract-1+0.js
/Abstract-1+0.prc
/Abstract-1+0.tex
/Abstract-2_.out
/Abstract-2_.pbsdat
/Abstract-2_0.pdf
/Abstract-2.asy
/Abstract-2.pre
/Abstract-2.tex
/Abstract-2+0_0.pdf
/Abstract-2+0.js
/Abstract-2+0.prc
/Abstract-2+0.tex
/Abstract.aux
/Abstract.log
/Abstract.out
/Abstract.pdf
/Abstract.pre
/references.bib.bak
/Abstract.bbl
/Abstract.blg
