asymptote.pre
asymptote.log
S1-1+0.prc
S1-1+0.tex
S1-1+0_0.pdf
S1-1.asy
S1-1.pre
S1-1.tex
S1-1_.out
S1-1_.pbsdat
S1-1_0.pdf
S1-2+0.prc
S1-2+0.tex
S1-2+0_0.pdf
S1-2.asy
S1.pre
S1.pdf
S1.out
S1.log
S1.aux
S1-2_0.pdf
S1-2_.pbsdat
S1-2_.out
S1-2.tex
S1-2.pre
